Java/ClienteVotanteWebServices/src/conf/xml-resources/web-service-references/Conector/wsdl/localhost_8080/WebServicesElecciones/Conector.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servidor.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor.com/">

<xs:element name="actualizarCiudadano" type="tns:actualizarCiudadano"/>

<xs:element name="actualizarCiudadanoResponse" type="tns:actualizarCiudadanoResponse"/>

<xs:element name="actualizarUrna" type="tns:actualizarUrna"/>

<xs:element name="actualizarUrnaResponse" type="tns:actualizarUrnaResponse"/>

<xs:element name="actualizarVotante" type="tns:actualizarVotante"/>

<xs:element name="actualizarVotanteResponse" type="tns:actualizarVotanteResponse"/>

<xs:element name="candidatos" type="tns:candidatos"/>

<xs:element name="candidatosResponse" type="tns:candidatosResponse"/>

<xs:element name="consultaVotantes" type="tns:consultaVotantes"/>

<xs:element name="consultaVotantesResponse" type="tns:consultaVotantesResponse"/>

<xs:element name="consultarUrnaCandidatos" type="tns:consultarUrnaCandidatos"/>

<xs:element name="consultarUrnaCandidatosResponse" type="tns:consultarUrnaCandidatosResponse"/>

<xs:element name="contarCandidatos" type="tns:contarCandidatos"/>

<xs:element name="contarCandidatosResponse" type="tns:contarCandidatosResponse"/>

<xs:element name="eliminarCandidato" type="tns:eliminarCandidato"/>

<xs:element name="eliminarCandidatoResponse" type="tns:eliminarCandidatoResponse"/>

<xs:element name="eliminarCiudadno" type="tns:eliminarCiudadno"/>

<xs:element name="eliminarCiudadnoResponse" type="tns:eliminarCiudadnoResponse"/>

<xs:element name="eliminarVotante" type="tns:eliminarVotante"/>

<xs:element name="eliminarVotanteResponse" type="tns:eliminarVotanteResponse"/>

<xs:element name="insertarCandidato" type="tns:insertarCandidato"/>

<xs:element name="insertarCandidatoResponse" type="tns:insertarCandidatoResponse"/>

<xs:element name="insertarCiudadano" type="tns:insertarCiudadano"/>

<xs:element name="insertarCiudadanoResponse" type="tns:insertarCiudadanoResponse"/>

<xs:element name="insertarUrna" type="tns:insertarUrna"/>

<xs:element name="insertarUrnaResponse" type="tns:insertarUrnaResponse"/>

<xs:element name="insertarVotante" type="tns:insertarVotante"/>

<xs:element name="insertarVotanteResponse" type="tns:insertarVotanteResponse"/>

<xs:element name="modificarCandidato" type="tns:modificarCandidato"/>

<xs:element name="modificarCandidatoResponse" type="tns:modificarCandidatoResponse"/>

<xs:element name="mostrarCandidatos" type="tns:mostrarCandidatos"/>

<xs:element name="mostrarCandidatosParaVotantes" type="tns:mostrarCandidatosParaVotantes"/>

<xs:element name="mostrarCandidatosParaVotantesResponse" type="tns:mostrarCandidatosParaVotantesResponse"/>

<xs:element name="mostrarCandidatosResponse" type="tns:mostrarCandidatosResponse"/>

<xs:element name="mostrarDatos" type="tns:mostrarDatos"/>

<xs:element name="mostrarDatosCiudadanoEspecifico" type="tns:mostrarDatosCiudadanoEspecifico"/>

<xs:element name="mostrarDatosCiudadanoEspecificoResponse" type="tns:mostrarDatosCiudadanoEspecificoResponse"/>

<xs:element name="mostrarDatosResponse" type="tns:mostrarDatosResponse"/>

<xs:element name="obtenerIdCandidato" type="tns:obtenerIdCandidato"/>

<xs:element name="obtenerIdCandidatoResponse" type="tns:obtenerIdCandidatoResponse"/>

<xs:element name="obtenerVotosTotalesCandidato" type="tns:obtenerVotosTotalesCandidato"/>

<xs:element name="obtenerVotosTotalesCandidatoResponse" type="tns:obtenerVotosTotalesCandidatoResponse"/>

<xs:element name="verificarCandidatoSiEsta" type="tns:verificarCandidatoSiEsta"/>

<xs:element name="verificarCandidatoSiEstaResponse" type="tns:verificarCandidatoSiEstaResponse"/>

<xs:element name="verificarCiudadano" type="tns:verificarCiudadano"/>

<xs:element name="verificarCiudadanoResponse" type="tns:verificarCiudadanoResponse"/>

<xs:element name="verificarVotante" type="tns:verificarVotante"/>

<xs:element name="verificarVotanteResponse" type="tns:verificarVotanteResponse"/>

<xs:element name="verificarVoto" type="tns:verificarVoto"/>

<xs:element name="verificarVotoResponse" type="tns:verificarVotoResponse"/>

<xs:complexType name="candidatos">
<xs:sequence>
<xs:element name="claveElectoral" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="candidatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaVotantes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultaVotantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerVotosTotalesCandidato">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerVotosTotalesCandidatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCandidato">
<xs:sequence>
<xs:element name="claveElectoral" type="xs:string" minOccurs="0"/>
<xs:element name="partido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCandidatoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modificarCandidato">
<xs:sequence>
<xs:element name="idCandidato" type="xs:int"/>
<xs:element name="partido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCandidatoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerIdCandidato">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerIdCandidatoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarCandidatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarCandidatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCiudadano">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCiudadanoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarUrna">
<xs:sequence>
<xs:element name="idCandidato" type="xs:string" minOccurs="0"/>
<xs:element name="votosTotales" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarUrnaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarCandidatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarCandidatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarVotante">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarVotanteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarVotante">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarVotanteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminarCiudadno">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCiudadnoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertarCiudadano">
<xs:sequence>
<xs:element name="claveElectoral" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCiudadano" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="domicilio" type="xs:string" minOccurs="0"/>
<xs:element name="seccion" type="xs:string" minOccurs="0"/>
<xs:element name="vigencia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCiudadanoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminarCandidato">
<xs:sequence>
<xs:element name="idCandidato" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCandidatoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="actualizarCiudadano">
<xs:sequence>
<xs:element name="claveElectoralId" type="xs:string" minOccurs="0"/>
<xs:element name="claveElectoral" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCiudadano" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="domicilio" type="xs:string" minOccurs="0"/>
<xs:element name="seccion" type="xs:string" minOccurs="0"/>
<xs:element name="vigencia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarCiudadanoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verificarVoto">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarVotoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarVotante">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarVotanteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verificarCandidatoSiEsta">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarCandidatoSiEstaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUrna">
<xs:sequence>
<xs:element name="idCandidato" type="xs:string" minOccurs="0"/>
<xs:element name="votosTotales" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUrnaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarCandidatosParaVotantes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarCandidatosParaVotantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUrnaCandidatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarUrnaCandidatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVotante">
<xs:sequence>
<xs:element name="voto" type="xs:string" minOccurs="0"/>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarVotanteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarDatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarDatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDatosCiudadanoEspecifico">
<xs:sequence>
<xs:element name="claveElector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDatosCiudadanoEspecificoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>