Java/ClienteVotanteWebServices/src/conf/xml-resources/web-service-references/Conector/wsdl/localhost_8080/WebServicesElecciones/Conector.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor.com/" name="Conector">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor.com/" schemaLocation="http://localhost:8080/WebServicesElecciones/Conector?xsd=1"/>
</xsd:schema>
</types>
<message name="mostrarDatosCiudadanoEspecifico">
<part name="parameters" element="tns:mostrarDatosCiudadanoEspecifico"/>
</message>
<message name="mostrarDatosCiudadanoEspecificoResponse">
<part name="parameters" element="tns:mostrarDatosCiudadanoEspecificoResponse"/>
</message>
<message name="consultarUrnaCandidatos">
<part name="parameters" element="tns:consultarUrnaCandidatos"/>
</message>
<message name="consultarUrnaCandidatosResponse">
<part name="parameters" element="tns:consultarUrnaCandidatosResponse"/>
</message>
<message name="insertarCandidato">
<part name="parameters" element="tns:insertarCandidato"/>
</message>
<message name="insertarCandidatoResponse">
<part name="parameters" element="tns:insertarCandidatoResponse"/>
</message>
<message name="contarCandidatos">
<part name="parameters" element="tns:contarCandidatos"/>
</message>
<message name="contarCandidatosResponse">
<part name="parameters" element="tns:contarCandidatosResponse"/>
</message>
<message name="actualizarVotante">
<part name="parameters" element="tns:actualizarVotante"/>
</message>
<message name="actualizarVotanteResponse">
<part name="parameters" element="tns:actualizarVotanteResponse"/>
</message>
<message name="mostrarCandidatos">
<part name="parameters" element="tns:mostrarCandidatos"/>
</message>
<message name="mostrarCandidatosResponse">
<part name="parameters" element="tns:mostrarCandidatosResponse"/>
</message>
<message name="insertarCiudadano">
<part name="parameters" element="tns:insertarCiudadano"/>
</message>
<message name="insertarCiudadanoResponse">
<part name="parameters" element="tns:insertarCiudadanoResponse"/>
</message>
<message name="eliminarCiudadno">
<part name="parameters" element="tns:eliminarCiudadno"/>
</message>
<message name="eliminarCiudadnoResponse">
<part name="parameters" element="tns:eliminarCiudadnoResponse"/>
</message>
<message name="verificarCiudadano">
<part name="parameters" element="tns:verificarCiudadano"/>
</message>
<message name="verificarCiudadanoResponse">
<part name="parameters" element="tns:verificarCiudadanoResponse"/>
</message>
<message name="obtenerIdCandidato">
<part name="parameters" element="tns:obtenerIdCandidato"/>
</message>
<message name="obtenerIdCandidatoResponse">
<part name="parameters" element="tns:obtenerIdCandidatoResponse"/>
</message>
<message name="eliminarCandidato">
<part name="parameters" element="tns:eliminarCandidato"/>
</message>
<message name="eliminarCandidatoResponse">
<part name="parameters" element="tns:eliminarCandidatoResponse"/>
</message>
<message name="actualizarCiudadano">
<part name="parameters" element="tns:actualizarCiudadano"/>
</message>
<message name="actualizarCiudadanoResponse">
<part name="parameters" element="tns:actualizarCiudadanoResponse"/>
</message>
<message name="verificarCandidatoSiEsta">
<part name="parameters" element="tns:verificarCandidatoSiEsta"/>
</message>
<message name="verificarCandidatoSiEstaResponse">
<part name="parameters" element="tns:verificarCandidatoSiEstaResponse"/>
</message>
<message name="obtenerVotosTotalesCandidato">
<part name="parameters" element="tns:obtenerVotosTotalesCandidato"/>
</message>
<message name="obtenerVotosTotalesCandidatoResponse">
<part name="parameters" element="tns:obtenerVotosTotalesCandidatoResponse"/>
</message>
<message name="modificarCandidato">
<part name="parameters" element="tns:modificarCandidato"/>
</message>
<message name="modificarCandidatoResponse">
<part name="parameters" element="tns:modificarCandidatoResponse"/>
</message>
<message name="mostrarCandidatosParaVotantes">
<part name="parameters" element="tns:mostrarCandidatosParaVotantes"/>
</message>
<message name="mostrarCandidatosParaVotantesResponse">
<part name="parameters" element="tns:mostrarCandidatosParaVotantesResponse"/>
</message>
<message name="verificarVotante">
<part name="parameters" element="tns:verificarVotante"/>
</message>
<message name="verificarVotanteResponse">
<part name="parameters" element="tns:verificarVotanteResponse"/>
</message>
<message name="mostrarDatos">
<part name="parameters" element="tns:mostrarDatos"/>
</message>
<message name="mostrarDatosResponse">
<part name="parameters" element="tns:mostrarDatosResponse"/>
</message>
<message name="eliminarVotante">
<part name="parameters" element="tns:eliminarVotante"/>
</message>
<message name="eliminarVotanteResponse">
<part name="parameters" element="tns:eliminarVotanteResponse"/>
</message>
<message name="insertarVotante">
<part name="parameters" element="tns:insertarVotante"/>
</message>
<message name="insertarVotanteResponse">
<part name="parameters" element="tns:insertarVotanteResponse"/>
</message>
<message name="insertarUrna">
<part name="parameters" element="tns:insertarUrna"/>
</message>
<message name="insertarUrnaResponse">
<part name="parameters" element="tns:insertarUrnaResponse"/>
</message>
<message name="actualizarUrna">
<part name="parameters" element="tns:actualizarUrna"/>
</message>
<message name="actualizarUrnaResponse">
<part name="parameters" element="tns:actualizarUrnaResponse"/>
</message>
<message name="candidatos">
<part name="parameters" element="tns:candidatos"/>
</message>
<message name="candidatosResponse">
<part name="parameters" element="tns:candidatosResponse"/>
</message>
<message name="consultaVotantes">
<part name="parameters" element="tns:consultaVotantes"/>
</message>
<message name="consultaVotantesResponse">
<part name="parameters" element="tns:consultaVotantesResponse"/>
</message>
<message name="verificarVoto">
<part name="parameters" element="tns:verificarVoto"/>
</message>
<message name="verificarVotoResponse">
<part name="parameters" element="tns:verificarVotoResponse"/>
</message>
<portType name="Conector">
<operation name="mostrarDatosCiudadanoEspecifico">
<input wsam:Action="http://servidor.com/Conector/mostrarDatosCiudadanoEspecificoRequest" message="tns:mostrarDatosCiudadanoEspecifico"/>
<output wsam:Action="http://servidor.com/Conector/mostrarDatosCiudadanoEspecificoResponse" message="tns:mostrarDatosCiudadanoEspecificoResponse"/>
</operation>
<operation name="consultarUrnaCandidatos">
<input wsam:Action="http://servidor.com/Conector/consultarUrnaCandidatosRequest" message="tns:consultarUrnaCandidatos"/>
<output wsam:Action="http://servidor.com/Conector/consultarUrnaCandidatosResponse" message="tns:consultarUrnaCandidatosResponse"/>
</operation>
<operation name="insertarCandidato">
<input wsam:Action="http://servidor.com/Conector/insertarCandidatoRequest" message="tns:insertarCandidato"/>
<output wsam:Action="http://servidor.com/Conector/insertarCandidatoResponse" message="tns:insertarCandidatoResponse"/>
</operation>
<operation name="contarCandidatos">
<input wsam:Action="http://servidor.com/Conector/contarCandidatosRequest" message="tns:contarCandidatos"/>
<output wsam:Action="http://servidor.com/Conector/contarCandidatosResponse" message="tns:contarCandidatosResponse"/>
</operation>
<operation name="actualizarVotante">
<input wsam:Action="http://servidor.com/Conector/actualizarVotanteRequest" message="tns:actualizarVotante"/>
<output wsam:Action="http://servidor.com/Conector/actualizarVotanteResponse" message="tns:actualizarVotanteResponse"/>
</operation>
<operation name="mostrarCandidatos">
<input wsam:Action="http://servidor.com/Conector/mostrarCandidatosRequest" message="tns:mostrarCandidatos"/>
<output wsam:Action="http://servidor.com/Conector/mostrarCandidatosResponse" message="tns:mostrarCandidatosResponse"/>
</operation>
<operation name="insertarCiudadano">
<input wsam:Action="http://servidor.com/Conector/insertarCiudadanoRequest" message="tns:insertarCiudadano"/>
<output wsam:Action="http://servidor.com/Conector/insertarCiudadanoResponse" message="tns:insertarCiudadanoResponse"/>
</operation>
<operation name="eliminarCiudadno">
<input wsam:Action="http://servidor.com/Conector/eliminarCiudadnoRequest" message="tns:eliminarCiudadno"/>
<output wsam:Action="http://servidor.com/Conector/eliminarCiudadnoResponse" message="tns:eliminarCiudadnoResponse"/>
</operation>
<operation name="verificarCiudadano">
<input wsam:Action="http://servidor.com/Conector/verificarCiudadanoRequest" message="tns:verificarCiudadano"/>
<output wsam:Action="http://servidor.com/Conector/verificarCiudadanoResponse" message="tns:verificarCiudadanoResponse"/>
</operation>
<operation name="obtenerIdCandidato">
<input wsam:Action="http://servidor.com/Conector/obtenerIdCandidatoRequest" message="tns:obtenerIdCandidato"/>
<output wsam:Action="http://servidor.com/Conector/obtenerIdCandidatoResponse" message="tns:obtenerIdCandidatoResponse"/>
</operation>
<operation name="eliminarCandidato">
<input wsam:Action="http://servidor.com/Conector/eliminarCandidatoRequest" message="tns:eliminarCandidato"/>
<output wsam:Action="http://servidor.com/Conector/eliminarCandidatoResponse" message="tns:eliminarCandidatoResponse"/>
</operation>
<operation name="actualizarCiudadano">
<input wsam:Action="http://servidor.com/Conector/actualizarCiudadanoRequest" message="tns:actualizarCiudadano"/>
<output wsam:Action="http://servidor.com/Conector/actualizarCiudadanoResponse" message="tns:actualizarCiudadanoResponse"/>
</operation>
<operation name="verificarCandidatoSiEsta">
<input wsam:Action="http://servidor.com/Conector/verificarCandidatoSiEstaRequest" message="tns:verificarCandidatoSiEsta"/>
<output wsam:Action="http://servidor.com/Conector/verificarCandidatoSiEstaResponse" message="tns:verificarCandidatoSiEstaResponse"/>
</operation>
<operation name="obtenerVotosTotalesCandidato">
<input wsam:Action="http://servidor.com/Conector/obtenerVotosTotalesCandidatoRequest" message="tns:obtenerVotosTotalesCandidato"/>
<output wsam:Action="http://servidor.com/Conector/obtenerVotosTotalesCandidatoResponse" message="tns:obtenerVotosTotalesCandidatoResponse"/>
</operation>
<operation name="modificarCandidato">
<input wsam:Action="http://servidor.com/Conector/modificarCandidatoRequest" message="tns:modificarCandidato"/>
<output wsam:Action="http://servidor.com/Conector/modificarCandidatoResponse" message="tns:modificarCandidatoResponse"/>
</operation>
<operation name="mostrarCandidatosParaVotantes">
<input wsam:Action="http://servidor.com/Conector/mostrarCandidatosParaVotantesRequest" message="tns:mostrarCandidatosParaVotantes"/>
<output wsam:Action="http://servidor.com/Conector/mostrarCandidatosParaVotantesResponse" message="tns:mostrarCandidatosParaVotantesResponse"/>
</operation>
<operation name="verificarVotante">
<input wsam:Action="http://servidor.com/Conector/verificarVotanteRequest" message="tns:verificarVotante"/>
<output wsam:Action="http://servidor.com/Conector/verificarVotanteResponse" message="tns:verificarVotanteResponse"/>
</operation>
<operation name="mostrarDatos">
<input wsam:Action="http://servidor.com/Conector/mostrarDatosRequest" message="tns:mostrarDatos"/>
<output wsam:Action="http://servidor.com/Conector/mostrarDatosResponse" message="tns:mostrarDatosResponse"/>
</operation>
<operation name="eliminarVotante">
<input wsam:Action="http://servidor.com/Conector/eliminarVotanteRequest" message="tns:eliminarVotante"/>
<output wsam:Action="http://servidor.com/Conector/eliminarVotanteResponse" message="tns:eliminarVotanteResponse"/>
</operation>
<operation name="insertarVotante">
<input wsam:Action="http://servidor.com/Conector/insertarVotanteRequest" message="tns:insertarVotante"/>
<output wsam:Action="http://servidor.com/Conector/insertarVotanteResponse" message="tns:insertarVotanteResponse"/>
</operation>
<operation name="insertarUrna">
<input wsam:Action="http://servidor.com/Conector/insertarUrnaRequest" message="tns:insertarUrna"/>
<output wsam:Action="http://servidor.com/Conector/insertarUrnaResponse" message="tns:insertarUrnaResponse"/>
</operation>
<operation name="actualizarUrna">
<input wsam:Action="http://servidor.com/Conector/actualizarUrnaRequest" message="tns:actualizarUrna"/>
<output wsam:Action="http://servidor.com/Conector/actualizarUrnaResponse" message="tns:actualizarUrnaResponse"/>
</operation>
<operation name="candidatos">
<input wsam:Action="http://servidor.com/Conector/candidatosRequest" message="tns:candidatos"/>
<output wsam:Action="http://servidor.com/Conector/candidatosResponse" message="tns:candidatosResponse"/>
</operation>
<operation name="consultaVotantes">
<input wsam:Action="http://servidor.com/Conector/consultaVotantesRequest" message="tns:consultaVotantes"/>
<output wsam:Action="http://servidor.com/Conector/consultaVotantesResponse" message="tns:consultaVotantesResponse"/>
</operation>
<operation name="verificarVoto">
<input wsam:Action="http://servidor.com/Conector/verificarVotoRequest" message="tns:verificarVoto"/>
<output wsam:Action="http://servidor.com/Conector/verificarVotoResponse" message="tns:verificarVotoResponse"/>
</operation>
</portType>
<binding name="ConectorPortBinding" type="tns:Conector">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mostrarDatosCiudadanoEspecifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarUrnaCandidatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCandidato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarCandidatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarVotante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCandidatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCiudadno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIdCandidato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCandidato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarCandidatoSiEsta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerVotosTotalesCandidato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCandidato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCandidatosParaVotantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarVotante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarVotante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarVotante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUrna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarUrna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="candidatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaVotantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarVoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Conector">
<port name="ConectorPort" binding="tns:ConectorPortBinding">
<soap:address location="http://localhost:8080/WebServicesElecciones/Conector"/>
</port>
</service>
</definitions>