C#/CandidatosWSDL/Connected Services/ServiceReference1/Conector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servidor.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Conector" targetNamespace="http://servidor.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.0.12:8080/WebServicesElecciones/Conector?xsd=1" namespace="http://servidor.com/" />
    </xsd:schema>
  </types>
  <message name="insertarCandidato">
    <part name="parameters" element="tns:insertarCandidato" />
  </message>
  <message name="insertarCandidatoResponse">
    <part name="parameters" element="tns:insertarCandidatoResponse" />
  </message>
  <message name="mostrarCandidatos">
    <part name="parameters" element="tns:mostrarCandidatos" />
  </message>
  <message name="mostrarCandidatosResponse">
    <part name="parameters" element="tns:mostrarCandidatosResponse" />
  </message>
  <message name="insertarCiudadano">
    <part name="parameters" element="tns:insertarCiudadano" />
  </message>
  <message name="insertarCiudadanoResponse">
    <part name="parameters" element="tns:insertarCiudadanoResponse" />
  </message>
  <message name="candidatos">
    <part name="parameters" element="tns:candidatos" />
  </message>
  <message name="candidatosResponse">
    <part name="parameters" element="tns:candidatosResponse" />
  </message>
  <message name="modificarCandidato">
    <part name="parameters" element="tns:modificarCandidato" />
  </message>
  <message name="modificarCandidatoResponse">
    <part name="parameters" element="tns:modificarCandidatoResponse" />
  </message>
  <message name="eliminarCandidato">
    <part name="parameters" element="tns:eliminarCandidato" />
  </message>
  <message name="eliminarCandidatoResponse">
    <part name="parameters" element="tns:eliminarCandidatoResponse" />
  </message>
  <portType name="Conector">
    <operation name="insertarCandidato">
      <input wsam:Action="http://servidor.com/Conector/insertarCandidatoRequest" message="tns:insertarCandidato" />
      <output wsam:Action="http://servidor.com/Conector/insertarCandidatoResponse" message="tns:insertarCandidatoResponse" />
    </operation>
    <operation name="mostrarCandidatos">
      <input wsam:Action="http://servidor.com/Conector/mostrarCandidatosRequest" message="tns:mostrarCandidatos" />
      <output wsam:Action="http://servidor.com/Conector/mostrarCandidatosResponse" message="tns:mostrarCandidatosResponse" />
    </operation>
    <operation name="insertarCiudadano">
      <input wsam:Action="http://servidor.com/Conector/insertarCiudadanoRequest" message="tns:insertarCiudadano" />
      <output wsam:Action="http://servidor.com/Conector/insertarCiudadanoResponse" message="tns:insertarCiudadanoResponse" />
    </operation>
    <operation name="candidatos">
      <input wsam:Action="http://servidor.com/Conector/candidatosRequest" message="tns:candidatos" />
      <output wsam:Action="http://servidor.com/Conector/candidatosResponse" message="tns:candidatosResponse" />
    </operation>
    <operation name="modificarCandidato">
      <input wsam:Action="http://servidor.com/Conector/modificarCandidatoRequest" message="tns:modificarCandidato" />
      <output wsam:Action="http://servidor.com/Conector/modificarCandidatoResponse" message="tns:modificarCandidatoResponse" />
    </operation>
    <operation name="eliminarCandidato">
      <input wsam:Action="http://servidor.com/Conector/eliminarCandidatoRequest" message="tns:eliminarCandidato" />
      <output wsam:Action="http://servidor.com/Conector/eliminarCandidatoResponse" message="tns:eliminarCandidatoResponse" />
    </operation>
  </portType>
  <binding name="ConectorPortBinding" type="tns:Conector">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCandidato">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarCandidatos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCiudadano">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="candidatos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCandidato">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCandidato">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Conector">
    <port name="ConectorPort" binding="tns:ConectorPortBinding">
      <soap:address location="http://192.168.0.12:8080/WebServicesElecciones/Conector" />
    </port>
  </service>
</definitions>